<div class="container pt-5">
    <h2> Acerca de... </h2>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni assumenda ullam mollitia, dicta fugit aliquam repudiandae molestiae nesciunt quod id enim amet autem voluptatibus, quisquam at debitis consequuntur! Asperiores, similique? </p>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni assumenda ullam mollitia, dicta fugit aliquam repudiandae molestiae nesciunt quod id enim amet autem voluptatibus, quisquam at debitis consequuntur! Asperiores, similique? </p>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni assumenda ullam mollitia, dicta fugit aliquam repudiandae molestiae nesciunt quod id enim amet autem voluptatibus, quisquam at debitis consequuntur! Asperiores, similique? </p>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni assumenda ullam mollitia, dicta fugit aliquam repudiandae molestiae nesciunt quod id enim amet autem voluptatibus, quisquam at debitis consequuntur! Asperiores, similique? </p>
</div>